html
  head

    meta(charset=config.encoding)
    meta(http-equiv="X-UA-Compatible", content="IE=edge" )
    meta(property="og:type", content="website")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title", content="Посчитай, сколько ты получишь за ненужные вещи!")
    script(type='text/javascript').
          var host = window.location.host
          if ((host=='http://90.156.143.200/') || (host=='90.156.143.200') || (host=='www.90.156.143.200') || (host=='https://90.156.143.200')) {
          document.location.href='90.156.143.200:4000'
          }
    meta(property="og:url", content="http://change.megamall.ru/calculate")
    meta(property="og:image", content="http://change.megamall.ru/static/images/calc/share_calc.png")
    meta(property="og:description", content="Приноси ставшие ненужными вещи в зону “Меняйся”. МЕГА отправит их на благотворительность или переработку, а ты получишь 100 р. за каждый 1 кг вещей!")
    script(async="", src = "//www.google-analytics.com/analytics.js").
    title= head.title
    meta(property="title", content="#{head.meta.title}")
    meta(property="description", content="#{head.meta.description}")
    meta(property="keywords", content="#{head.meta.keywords}")

    each src in config.scripts.common
      script(type="text/javascript", src=src, language="javascript")
    each href in config.styles.common
      link(rel="stylesheet", href=href)
    script(type="text/javascript", language="javascript")
        | var tmp = "#{language_string}";
        | window.language = JSON.parse(tmp.replace(/&quot;/g, '"'));
        | var tmp2 = "#{city_string}";
        | window.City = JSON.parse(tmp2.replace(/&quot;/g, '"'));
    include includes/favicons.jade
    //-link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
  
  body.normal.body_about.graph
    include ./components/graph_popup.jade
    include ./components/popup_nocart.jade
    .main.timer.wow.fadeIn
      header.navbar.navbar-default.navbar-fixed-top.hidden-xs.hidden-sm
        .col-md-2.col-lg-3
          .navbar-header
         
            a.navbar-brand(href="/" title="МегаМеняйся 2.0")
          
        .col-md-5.col-lg-5
          a.header_nav(href="/about", title="О проекте") О проекте
          a.header_nav.active(href="/calculate", title="Калькулятор") Калькулятор
          a.header_nav(href="/photo", title="Мнение экспертов") Мнение экспертов

        include components/counter.jade
      header.navbar.navbar-default.navbar-fixed-top.hidden-md.hidden-lg
        .row
          .header_menu.hidden-xs-hidden-sm
            .header_control.overflow_hidden(style="padding: 15px;")
              a(href="/" title="МегаМеняйся 2.0")
                img.pull-left.open_mega.pull-left(src="static/images/logo_mega_small_menu.png")
              span.pull-right.text-right.mega_close +
            .header_line
              a.header_nav(href="/about", title="О проекте") О проекте
            .header_line
              a.header_nav.active(href="/calculate", title="Калькулятор") Калькулятор
            .header_line
              a.header_nav(href="/photo", title="Мнение экспертов") Мнение экспертов
            .header_line.balance_mobile_place
              script(type="text/javascript", src="/static/views/photo/balance_popup.js", language="javascript")
              script(type="text/javascript", src="/static/views/photo/balance_mobile.js", language="javascript")

        .col-sm-12
          .row
            .counter.pull-left
              span.counter_desc собрано
              ul.text-center
                include components/counter_data.jade
              span.counter_desc Одежды
            .pull-right
              img.open_menu(src="static/images/hamburger.png")

            .navbar-header.pull-right
              a.navbar-brand.pull-right(href="/" title="МегаМеняйся 2.0")

      .col-md-3
        .col-md-12
          .hidden-md.hidden-lg
            .row
              h1.about_line.about_title Калькулятор
              .calc_moreicons.margin_top_30
              span.calc_text_left 
                span.calc_text_bold С 9 марта по 9 апреля 
                | получи 
                span.calc_text_bold 100 рублей 
                | за каждый 
                | килограмм одежды, сданной
                | в 
                span.calc_text_bold МЕГУ 
                | для переработки и 
                | благотворительности!
                
              span.calc_text_left
                span
                  | Получите до 500 р. в день и до 1500 р. за весь период акции! 
                  | Первые 5 кг в день будут вознаграждены 500 р., а остальные станут безвозмездным пожертвованием. 
                  | Количество призов ограниченно

              span.copyright.link.text-left.margin_top_20(style="max-width: 600px; display: block") 
                    
              
          .child
            

            .hidden-xs.hidden-sm  
              .calc_moreicons
              span.calc_text_left 
                span.calc_text_bold С 9 марта по 9 апреля 
                |получи 

                span.calc_text_bold 100 рублей 
                |за каждый 

                | килограмм одежды, сданной

                | в 
                span.calc_text_bold МЕГУ 
                | для переработки и 

                | благотворительности!

              span.calc_text_left
                span
                  | Получите до 500 р. в день и до 1500 р. за весь период акции! 
                  | Первые 5 кг в день будут вознаграждены 500 р., а остальные станут безвозмездным пожертвованием. 
                  | Количество призов ограниченно

              span.calc_links.copyright.link.text-left.calc_aff(style="max-width: 600px; display: block") 


              a.calc_near(title="Ближайшая МЕГА", href="/about#where",onclick="ga('send', 'event', 'reg', 'open_about_where');") Ближайшая 
                br
                | МЕГА 

          .helper.helper-not-sm
      .col-md-3
        .child
          h1.calc_title.hidden-xs.hidden-sm Калькулятор
          .calc_block.hidden-lg.hidden-md
                .calc_block_line
                  span.calc_block_result 0

                  .calc_overflow.overflow_hidden
                    .calc_line
          .calc_calc
            .calc_calc_comments
            .calc_calc_body
              .calc_calc_top
                .col-xs-6.text-center
                  span.calc_calc_weight 0
                  .calc_calc_before
                .col-xs-6.text-center
                  span.calc_calc_cost 0
              .calc_calc_body
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_1(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_2(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_3(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_4(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_5(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_6(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_7(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_8(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_9(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.remove_all
                .col-xs-4.text-center
                  .calc_calc_round.calc_calc_round_0(onclick="ga('send', 'event', 'click', 'calc_click');")
                    span.counter_round
                      span.count.text-center 0
                      span.remove
                .col-xs-4.text-center
                  .calc_calc_round.share
                    .expert_item_share
                      a.soc.ok(href="javascript:void(0)", title="Мы в Одноклассниках", onclick="Share.odnoklassniki(share_calc_url, share_calc_text, 'calc')")
                      a.soc.tw(href="javascript:void(0)", title="Мы в Твиттере", onclick="Share.twitter(share_calc_url, share_calc_text, 'calc')")
                      a.soc.fb(href="javascript:void(0)", title="Мы в Facebook", onclick="Share.facebook(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")
                      a.soc.vk(href="javascript:void(0)", title="Мы в ВКонтакте", onclick="Share.vkontakte(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")






            span.calc_calc_aftertext.text-center * средний прогнозируемый вес вещей
        .helper.helper-not-sm
      .col-md-5.col-lg-6
        .col-md-11.col-md-offset-1
          .child
            .col-md-12
              .calc_block.hidden-xs.hidden-sm
                .calc_block_line
                  span.calc_block_result 0

                  .calc_overflow.overflow_hidden
                    .calc_line

              h2.calc_sub
                | Ну-ка, 
                br 
                | посмотрим, что у 
                br
                | тебя есть в гардеробе!

              //-

              //-  | Отлично!
              //-  br 
              //-  | Приноси
              //-  br
              //-  | до 1 кг вещей и…

              span.calc_text.calc_text_2
                //-| Мы переведём килограммы в рубли
                //-br
                //-| по курсу 1 к 100! Деньги начислим на
                //-br
                //-| твой специальный бонусный счёт в
                //-br
                //-| акции. А также сразу выдадим буклет
                //-br
                //-| с купонами на скидки и предложения 
                //-br
                //-| от арендаторов МЕГИ.
                //-br



              a.calc_near.calc_near_2(title="Ближайшая МЕГА", href="/about#where",onclick="ga('send', 'event', 'reg', 'open_about_where');")
                | Куда отнести 
                br
                | вещи?

              .col-sm-12
                .row
                  div.pull-left.margin_top_40.calc_photo
                    span.calc_forget
                      | И не забудь:
                    a.calc_look(title="Фотоконкурс", href="/photo", onclick="ga('send', 'event', 'click', 'calc_click_look');")
                      span.calc_lined Загрузить
                        br
                        | лук
                  div.pull-left.margin_top_40.calc_div
                    span.calc_text
                      | И получить совет от 
                      br
                      | экспертов моды и карту 
                      br
                      span.calc_text_bold «МЕГА подарок» 
                      | на 
                    br
                    div.pull-left.margin_top_40.calc_money
                      div.pull-left
                        spam.calc_cost 3000
                        br
                        span.calc_win еженедельно
                      div.pull-left
                        span.main_cost_multi.text-center х15
          .helper.helper-not-sm
      


      footer.navbar-fixed-bottom.hidden-sm.hidden-xs.mainpage

        .col-md-3.text-center-sm.hidden-sm.hidden-xs
          span.copyright © ООО "ИКЕА Сентерс Рус Менеджмент" 2016

        .col-md-4.text-center-sm.hidden-sm.hidden-xs 


        .col-md-5.text-center-sm
          .pull-left
            a.footer_rules(title="Правила",target="_blank", href="/static/images/Change_rules.pdf") Правила

            //- span.footer_rules(title="Поддержка") Поддержка
          .pull-right.text-nowrap
            ul.social-icons.text-left
              li 
                a.fb(href="javascript:void(0)", title="Мы в Facebook", onclick="Share.facebook(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")

              li 
                a.vk(href="javascript:void(0)", title="Мы в ВКонтакте", onclick="Share.vkontakte(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")
              li 
                a.ok(href="javascript:void(0)", title="Мы в Одноклассниках", onclick="Share.odnoklassniki(share_calc_url, share_calc_text, 'calc')")
              li 
                a.tw(href="javascript:void(0)", title="Мы в Твиттере", onclick="Share.twitter(share_calc_url,  share_calc_text, 'calc')")


      footer.hidden-lg.hidden-md
            .col-md-12.text-center(style="margin-top: -50px;").overflow_hidden
              .col-xs-6
                a.footer_rules(title="Правила",target="_blank", href="/static/images/Change_rules.pdf") Правила
              .col-xs-6.overflow_hidden


            .col-md-12.text-center-sm.margin_top_10
              
              ul.social-icons.text-center-sm.col-md-6.text-center-xs
                li 
                  a.fb(href="javascript:void(0)", title="Мы в Facebook", onclick="Share.facebook(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")

                li 
                  a.vk(href="javascript:void(0)", title="Мы в ВКонтакте", onclick="Share.vkontakte(share_calc_url, share_calc_title ,share_calc_image, share_calc_text, 'calc')")
                li 
                  a.ok(href="javascript:void(0)", title="Мы в Одноклассниках", onclick="Share.odnoklassniki(share_calc_url, share_calc_text, 'calc')")
                li 
                  a.tw(href="javascript:void(0)", title="Мы в Твиттере", onclick="Share.twitter(share_calc_url,  share_calc_text, 'calc')")

            .col-md-12.text-center-sm.hidden-md.hidden-lg.text-center-xs


            .col-md-12.text-center-sm.hidden-md.hidden-lg.text-center-xs
              span.copyright © ООО "ИКЕА Сентерс Рус Менеджмент" 2016





      script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-5557003-14','auto');ga('send','pageview');
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id=GTM-MBVCDN", height="0", width="0",style="display:none;visibility:hidden")
      script  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MBVCDN');


